<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS file -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/img/profile.jpg" type="image/x-icon">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Mohamed Mohsen</title>
</head>

<body>
    <!-- Website Layout -->
    <ul class="website_container">

        <!-- Global Menu -->
        <div id="global_menu_button_container">
            <p class="site_title">Mohamed Mohsen</p>
            <i class="fa fa-bars" id="global_menu_button"></i>
        </div>

        <ul id="global_menu_items">
            <div>
                <i class="fa fa-close" id="global_menu_close_button"></i>
                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="about.html" class="active"><i class="fa fa-user"></i> About</a></li>
                <li><a href="resume.html"><i class="fas fa-file-alt"></i> Resume</a></li>
               <!-- <li><a href="blogs.html"><i class="fas fa-pen-nib"></i> Blogs</a></li> -->
                <li><a href="services.html"><i class="fas fa-cog"></i> Services</a></li>
                <li><a href="contact.html"><i class="fas fa-phone-square"></i> Contact</a></li>
            </div>
        </ul>

        <!--x Global Menu x-->

        <!-- sidebar -->
        <div class="sidebar_container">
            <!-- Sidebar Image -->
            <div class="image">
                <img src="static/img/profile.jpg" alt="Mohamed Mohsen">
                <div class="right_image_box"></div>
                <div class="left_image_box"></div>
            </div>

            <!-- sidebar Content -->
            <div class="sidebar_content">
                <!-- Long name can be applied so easily -->
                <h1>Mohamed Mohsen</h1>
                <p>Computer Vision</p>
                <!-- Social Medias -->
                <div class="social_media">
                    <a href="https://www.facebook.com/share/xebQM2kiCiFf3dhn/?mibextid=qi2Omg"><i class="fab fa-facebook"></i></a> 
                    <a href="https://github.com/mohamed33301"><i class="fab fa-github"></i></a>
                <!--   <a href="https://instagram.com/alivecoder"><i class="fab fa-instagram"></i></a> -->
                    <a href="https://www.linkedin.com/in/mohamed2mohsen/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.kaggle.com/mohamedmohsen3330" target="_blank"><i class="fab fa-kaggle"></i></a>
                </div>
            </div>

            <!-- Sidebar Buttom Menu -->
            <div class="sidebar_buttom_menu" id="sidebar_buttom_menu">
                <i class="fa fa-bars" id="sidebar_menu_icon"></i>
            </div>

            <!-- Sidebar Navigation -->
            <ul class="sidebar_navigation" id="sidebar_navigation">
                <li><a href="about.html" class="active">About</a></li>
                <li><a href="resume.html">Resume</a></li>
               <!-- <li><a href="blogs.html">Blogs</a></li> -->
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <!-- content -->
        <div class="content_container">
            <!-- About Page -->
            <div class="about_page">
                <h2 class="title">About <span>Me</span></h2>
                <hr class="line">
                <div class="about_content">
                    <p class="about_text">A computer science student with experience in machine learning and programming
                        in Python
                        and is seeking a job as an engineer capable of solving problems and willing to work hard and
                        learn on the job and looking for an entry-level position in the field of Information
                        Technology, in a company whose values and goals are in conjunction with my own value and
                        skill set. I wish to contribute to a dynamic team of individuals motivated to achieve the
                        company's goal while aiding my personal growth.</p>
                </div>
                <div class="about_profile">
                    <ul class="left_profile">
                        <!--  <li><span class="profile_title">Date of Birth</span><span>Aug 20, 2001</span></li> -->
                        <li><span class="profile_title">Gender</span><span>Male</span></li>
                        <!--   <li><span class="profile_title">Age</span><span>23 Years Old</span></li> -->
                        <li><span class="profile_title">Maritial Status</span><span>Unmarried</span></li>
                        <li><span class="profile_title">Nationality</span><span>Egyptian</span></li>
                    <!--    <li><span class="profile_title">Religion</span><span>Muslim</span></li> -->
                    </ul>
                    <ul class="right_profile">
                        <li><span class="profile_title">Profession</span><span>Computer Vision</span></li>
                        <li><span class="profile_title">Address</span><span>Cairo, Egypt</span></li>
                        <li><span class="profile_title">Contact</span><span>+0201005274029</span></li>
                        <li><span class="profile_title">Email</span><span>mohame3330@gmail.com</span></li>
                        <!-- <li><span class="profile_title">Website</span><span>mywebsite.com</span></li>  -->
                        <li><span class="profile_title">Freelance</span><span>Available</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="static/js/script.js"></script>
</body>

</html>