<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS file -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/img/profile.jpg" type="image/x-icon">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Mohamed Mohsen</title>
</head>

<body>
    <!-- Website Layout -->
    <div class="website_container">

        <!-- Global Menu -->
        <div id="global_menu_button_container">
            <p class="site_title">Mohamed Mohsen</p>
            <i class="fa fa-bars" id="global_menu_button"></i>
        </div>

        <ul id="global_menu_items">
            <div>
                <i class="fa fa-close" id="global_menu_close_button"></i>
                <li><a href="about.html"><i class="fa fa-home"></i> About</a></li>
                <li><a href="resume.html"><i class="fas fa-file-alt"></i> Resume</a></li>
                <!--<li><a href="blogs.html"><i class="fas fa-pen-nib"></i> Blogs</a></li>-->
                <li><a href="services.html"><i class="fas fa-cog"></i> Services</a></li>
                <li><a href="contact.html"><i class="fas fa-phone-square"></i> Contact</a></li>
            </div>
        </ul>

        <!--x Global Menu x-->

        <!-- sidebar -->
        <div class="sidebar_container">
            <!-- Sidebar Image -->
            <div class="image">
                <img src="static/img/profile.jpg" alt="mohamed mohsen">
                <div class="right_image_box"></div>
                <div class="left_image_box"></div>
            </div>

            <!-- sidebar Content -->
            <div class="sidebar_content">
                <!-- Long name can be applied so easily -->
                <h1>Mohamed Mohsen</h1>
                <p>Computer Vision</p>
                <!-- Social Medias -->
                <div class="social_media">
                    <a href="https://www.facebook.com/share/xebQM2kiCiFf3dhn/?mibextid=qi2Omg"><i class="fab fa-facebook"></i></a>
                    <a href="https://github.com/mohamed33301"><i class="fab fa-github"></i></a>
                    <!--   <a href="https://instagram.com/alivecoder"><i class="fab fa-instagram"></i></a> -->
                    <a href="https://www.linkedin.com/in/mohamed2mohsen/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.kaggle.com/mohamedmohsen3330" target="_blank"><i class="fab fa-kaggle"></i></a>
                </div>
            </div>

            <!-- Sidebar Buttom Menu -->
            <div class="sidebar_buttom_menu" id="sidebar_buttom_menu">
                <i class="fa fa-bars" id="sidebar_menu_icon"></i>
            </div>

            <!-- Sidebar Navigation -->
            <ul class="sidebar_navigation" id="sidebar_navigation">
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <!--<li><a href="blogs.html">Blogs</a></li>-->
                <li><a href="services.html" class="active">Services</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>

        </div>
        <!-- content -->
        <div class="content_container">
            <!-- Services Page -->
            <div class="services_page">
                <h2 class="title">My <span>Services</span></h2>
                <hr class="line">
                <!-- Services Row -->
                <div class="services_container">
                    <div class="services_box">
                        <i class="fas fa-tablet-alt"></i>
                        <h3 class="services_title">computer vision</h3>
                        <p class="services_text">pyhton. </p>
                    </div>
                    <div class="services_box">
                        <i class="fas fa-globe"></i>
                        <h3 class="services_title">Machine learning</h3>
                        <p class="services_text">ML. </p>
                    </div>
                </div>

                <div class="services_container">
                    <div class="services_box">
                        <i class="fas fa-pencil-ruler"></i>
                        <h3 class="services_title">Data analysis</h3>
                        <p class="services_text">python. </p>
                    </div>
                    <div class="services_box">
                        <i class="fas fa-drafting-compass"></i>
                        <h3 class="services_title">web Desing</h3>
                        <p class="services_text">HTML/CSS/JS </p>
                    </div>
                </div>

               

            </div>
        </div>
    </div>


    <script src="static/js/script.js"></script>
</body>

</html>